.cards {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;

    margin-top: 49px;
    margin-left: 37px;
    padding: 1px;

    height: 100%;

    overflow: scroll;
}

.card {
    width: 176px;
    height: 293px;

    margin-right: 18px;

    position: relative;
}

.card-info {
    width: 176px;
    height: 58px;

    word-wrap: normal;
}

.pimage {
    width: 176px;
    height: 235px;
}

.star {
    width: 12px;
    height: 12px;

    margin-right: 4px;
}

.rating {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 110%;
    /* identical to box height, or 13px */

    color: #222222;

    margin-right: 4px;
}

.reviewCount {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 110%;
    /* identical to box height, or 13px */

    color: #918e9b;
    margin-right: 4px;
}

.country {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 110%;
    /* identical to box height, or 13px */
    margin-right: 4px;
    color: #918e9b;
}

.title {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    line-height: 110%;
    /* identical to box height, or 13px */

    color: #222222;

    margin-top: 8px;
}

.price {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 110%;
    /* identical to box height, or 13px */

    color: #222222;

    margin-top: 8px;
}

.badge {
    position: absolute;
    width: 61px;
    height: 20px;

    margin-top: 6px;
    margin-left: 6px;

    font-family: "Poppins";
    font-style: normal;
    font-weight: bolder;
    font-size: 10.24px;
    line-height: 110%;
    /* or 11px */

    text-align: center;

    color: #222222;

    background-color: #fff;
    border: #222222 2px;
    padding-top: 5px;

    border-radius: 2px;
}

.cards::-webkit-scrollbar {
    width: 0 !important;
}
