* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: rgb(54, 54, 54);
}

#root {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.main {
    width: 550px;
    height: 853px;

    margin-top: 40px;

    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    background-color: #fff;
}
